[
  {
    "name": "16:9",
    "saturation_gain_percent": 130,
    "value_gain_percent": 90,
    "brightness_correction": -7,
    "horizontal_depth_percent": 26,
    "vertical_depth_percent": 15,
    "overlap_percent": 0,
    "h_padding_percent": 0,
    "v_padding_percent": 0
  },
  {
    "name": "21:9",
    "saturation_gain_percent": 120,
    "value_gain_percent": 90,
    "brightness_correction": -7,
    "horizontal_depth_percent": 15,
    "vertical_depth_percent": 7,
    "overlap_percent": 0,
    "h_padding_percent": 12,
    "v_padding_percent": 0
  },
  {
    "name": "4:3",
    "saturation_gain_percent": 100,
    "value_gain_percent": 100,
    "brightness_correction": 0,
    "horizontal_depth_percent": 12,
    "vertical_depth_percent": 12,
    "overlap_percent": 0,
    "h_padding_percent": 0,
    "v_padding_percent": 12
  },
  {
    "name": "3:2",
    "saturation_gain_percent": 100,
    "value_gain_percent": 100,
    "brightness_correction": 0,
    "horizontal_depth_percent": 12,
    "vertical_depth_percent": 12,
    "overlap_percent": 0,
    "h_padding_percent": 0,
    "v_padding_percent": 8
  }
]